.projects-container {
  padding: 20px;
  max-width: 100%; /* Use full width of the container */
  margin: 0 auto; /* Center align the container */  
}

/* Style for Notifications Card */
.notifications-card {
  position: fixed;
  top: 50px;  /* Adjust this value to place it in line with your header */
  right: -300px; /* Initially hidden off-screen to the left */
  width: 250px;
  border-radius: 5px;
  height: 100%; /* Make it take full height */
  transition: all 0.3s ease-in-out; /* Smooth slide effect */
  z-index: 1000;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Show the card when expanded */
.notifications-card.expanded {
  right: 0;  /* Move the card into view */
}

.notifications-card.collapsed {
  right: -300px; /* Move the card off-screen to the left when collapsed */
}

.header-container h3 {
  font-size: 2rem;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.projects-list {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Responsive grid */
  gap: 7rem; /* Spacing between cards */
}

.card {
  width: 100%; /* Make the card take the full width of the column */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-body {
  text-align: center;
  padding: 20px;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #007bff;
}

.card-text {
  font-size: 1rem;
  color: #333;
  margin: 8px 0;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card .card-body {
  padding: 20px;
}

/* Bootstrap grid system */
.row-cols-md-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
  gap: 1rem;
}

@media (max-width: 767px) {
  .row-cols-md-3 {
    grid-template-columns: 1fr; /* Single column on small screens */
  }
}

.btn-success .btn-danger {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.btn-success:hover {
  background-color: #28a745;
  color: white;
}
