.loginPage {
    background: url('/assets/Images/employeems.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("/assets/Images/employeems.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
    width: 100%; /* Make form take full width of the screen */
    max-width: 400px; /* Max width for large screens like desktops */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) { /* For tablets */
    .loginForm {
        padding: 15px;
        max-width: 90%; /* Form takes up 90% of screen on tablets */
    }
}

@media (max-width: 480px) { /* For mobile phones */
    .loginForm {
        padding: 10px;
        max-width: 95%; /* Form takes up 95% of screen on smaller devices */
    }
}


/* Style for individual list items */
#menu li {
    padding: 10px 6px 10px 6px;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    position: relative;
  }
  
  #menu li:hover {
    background-color: rgb(65, 156, 94);
    color: white;
    cursor: pointer;
    transform: scale(1.1); /* Zoom in the item */
  }

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.emp_det_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}